Repository celo-org/celo-blockchain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @celo-org/blockchain, @trianglesphere, @kobigurk, @gastonponti, @hbandura, @nategraf, @oneeman

mycelo: Defines sane defaults for initial balances
  cmd/mycelo/templates.go
  mycelo/genesis/genesis_state.go
Owners: @celo-org/blockchain

Refactos token & fixed into a common base module
  cmd/mycelo/templates.go
  common/decimal/decimal.go
  common/decimal/decimal_test.go
  common/decimal/fixed/fixed.go
  common/decimal/token/token.go
  common/fixed/fixed.go
  common/fixed/fixed_test.go
  common/token/token.go
  common/token/token_test.go
  mycelo/genesis/base_config.go
  mycelo/genesis/config.go
  mycelo/genesis/genesis_state.go
Owners: @celo-org/blockchain

Address PR comments
  common/decimal/decimal_test.go
  mycelo/genesis/config.go
  mycelo/genesis/genesis_state.go
Owners: @celo-org/blockchain

grammar fix
  mycelo/env/accounts.go
  mycelo/genesis/genesis_state.go
Owners: @celo-org/blockchain

Making Or happy
  mycelo/genesis/genesis_state.go
Owners: @celo-org/blockchain

typo
  mycelo/genesis/base_config.go
  mycelo/genesis/genesis_state.go
Owners: @celo-org/blockchain

Address comments
  consensus/consensus.go
  consensus/istanbul/backend/backend.go
Owners: @trianglesphere, @celo-org/blockchain

Decent house keeper
  accounts/scwallet/README.md
  accounts/scwallet/apdu.go
  accounts/scwallet/hub.go
  accounts/scwallet/securechannel.go
  accounts/scwallet/wallet.go
  console/bridge.go
  internal/ethapi/api.go
  node/config.go
  signer/core/api.go
Owners: @celo-org/blockchain

[Housekeeping] Remove go-bip39 from the node (#1411)
  accounts/scwallet/README.md
  accounts/scwallet/apdu.go
  accounts/scwallet/hub.go
  accounts/scwallet/securechannel.go
  accounts/scwallet/wallet.go
  console/bridge.go
  internal/ethapi/api.go
  node/config.go
  signer/core/api.go
Owners: @celo-org/blockchain

misspell fix
  mycelo/genesis/base_config.go
  mycelo/genesis/config.go
  mycelo/genesis/genesis_state.go
Owners: @celo-org/blockchain

Refactors to use num prefix instead of qty suffix
  cmd/mycelo/genesis_commands.go
  cmd/mycelo/main.go
  cmd/mycelo/templates.go
  mycelo/env/types.go
Owners: @celo-org/blockchain

Refactors if-else to go preferred style
  accounts/abi/bind/backends/simulated.go
  internal/ethapi/api.go
Owners: @celo-org/blockchain

fix test
  mycelo/env/types_test.go
Owners: @celo-org/blockchain

fix misspell
  mycelo/genesis/config.go
Owners: @celo-org/blockchain

Remove reorg from les test
  les/handler_test.go
Owners: @hbandura, @nategraf, @celo-org/blockchain

Use flag.Name
  cmd/mycelo/main.go
Owners: @celo-org/blockchain

Handler test and various small fixes
  eth/handler.go
  eth/handler_test.go
  eth/peer.go
  eth/sync.go
  les/peer_test.go
Owners: @celo-org/blockchain, @hbandura, @nategraf

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# default owners, overridden by package specific owners below
* @celo-org/blockchain

/consensus/ @trianglesphere @celo-org/blockchain
/crypto/ @kobigurk
/ethstats/ @gastonponti @celo-org/blockchain
/les/ @hbandura @nategraf @celo-org/blockchain
/light/ @hbandura @nategraf @celo-org/blockchain
/metrics/ @gastonponti @celo-org/blockchain
/p2p/ @oneeman @celo-org/blockchain
