Repository celo-org/celo-blockchain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @celo-org/blockchain, @trianglesphere, @kobigurk, @gastonponti, @hbandura, @nategraf, @oneeman

fix import
  miner/worker.go
Owners: @celo-org/blockchain

Add metric: blockFinalizationTime (#1154)
  miner/worker.go
Owners: @celo-org/blockchain

Re-add import pruned case
  core/blockchain.go
  core/blockchain_test.go
  light/lightchain.go
Owners: @celo-org/blockchain, @hbandura, @nategraf

Fix lint
  core/blockchain_repair_test.go
Owners: @celo-org/blockchain

[mycelo] Adds `env account` command
  cmd/mycelo/env_commands.go
  cmd/mycelo/main.go
  cmd/utils/customflags.go
  mycelo/env/accounts.go
  mycelo/env/environment.go
Owners: @celo-org/blockchain

Lightchain tests
  light/lightchain.go
  light/lightchain_test.go
Owners: @hbandura, @nategraf, @celo-org/blockchain

Update Readme with rename tooling
  README.md
Owners: @celo-org/blockchain

[mycelo] typos on env accounts cmd
  cmd/mycelo/env_commands.go
  mycelo/env/accounts.go
Owners: @celo-org/blockchain

Disable gas price minimum updates
  cmd/mycelo/templates.go
Owners: @celo-org/blockchain

Round robin transfers
  mycelo/loadbot/bot.go
Owners: @celo-org/blockchain

[mycelo] typos on env accounts cmd (#1404)
  cmd/mycelo/env_commands.go
  mycelo/env/accounts.go
Owners: @celo-org/blockchain

Disable GPM updates during mycelo load tests (#1405)
  cmd/mycelo/templates.go
  mycelo/loadbot/bot.go
Owners: @celo-org/blockchain

Update Readme with rename tooling (#1403)
  README.md
Owners: @celo-org/blockchain

Initial commit
  consensus/consensus.go
  consensus/istanbul/backend/backend.go
  consensus/istanbul/backend/engine.go
  consensus/istanbul/backend/test_utils.go
  consensus/istanbul/core/core.go
  consensus/istanbul/core/errors.go
  consensus/istanbul/core/roundstate.go
  consensus/istanbul/core/roundstate_save_decorator.go
  core/blockchain.go
  core/headerchain.go
  core/state_processor.go
  core/types/block.go
  light/lightchain.go
  miner/worker.go
  miner/worker_test.go
Owners: @trianglesphere, @celo-org/blockchain, @hbandura, @nategraf

Update mycelo to work with contracts release 3.
  mycelo/contract/gen_abis.go
  mycelo/env/core_contracts.go
  mycelo/genesis/base_config.go
  mycelo/genesis/config.go
  mycelo/genesis/genesis_state.go
  mycelo/internal/scripts/generate/main.go
Owners: @celo-org/blockchain

mycelo: Add support for the governance core contract
  mycelo/genesis/base_config.go
  mycelo/genesis/config.go
  mycelo/genesis/genesis_state.go
Owners: @celo-org/blockchain

mycelo: Implement migration for Attestations contract
  mycelo/genesis/base_config.go
  mycelo/genesis/config.go
  mycelo/genesis/genesis_state.go
Owners: @celo-org/blockchain

mycelo: add StableTokenEUR and ExchangeEUR to contract deployments
  mycelo/contract/gen_abis.go
  mycelo/env/core_contracts.go
  mycelo/genesis/base_config.go
  mycelo/genesis/config.go
  mycelo/genesis/genesis_state.go
Owners: @celo-org/blockchain

Fix typo in MyCelo migrations: 'MinimunFloor' -> 'MinimumFloor'
  mycelo/genesis/base_config.go
  mycelo/genesis/config.go
  mycelo/genesis/genesis_state.go
Owners: @celo-org/blockchain

Add ability to specify sender on EVMBackends
  mycelo/contract/evm_backend.go
Owners: @celo-org/blockchain

Add validator groups to genesis information
  cmd/mycelo/env_commands.go
  cmd/mycelo/main.go
  cmd/mycelo/templates.go
  mycelo/cluster/cluster.go
  mycelo/env/accounts.go
  mycelo/env/environment.go
  mycelo/env/types.go
  mycelo/env/types_test.go
  mycelo/genesis/genesis.go
  mycelo/genesis/genesis_state.go
Owners: @celo-org/blockchain

fix: duplicated address on core contracts
  mycelo/env/core_contracts.go
  mycelo/env/core_contracts_test.go
Owners: @celo-org/blockchain

fix: accounts group
  mycelo/env/types.go
Owners: @celo-org/blockchain

electValidator: create accounts
  mycelo/contract/evm_backend.go
  mycelo/genesis/genesis_state.go
Owners: @celo-org/blockchain

Complete validators elections
  mycelo/contract/evm_backend.go
  mycelo/env/accounts.go
  mycelo/env/types.go
  mycelo/genesis/base_config.go
  mycelo/genesis/config.go
  mycelo/genesis/genesis_state.go
Owners: @celo-org/blockchain

Fix comments
  consensus/istanbul/backend/backend.go
  consensus/istanbul/backend/engine.go
  consensus/istanbul/core/core.go
  consensus/istanbul/core/errors.go
  consensus/istanbul/core/roundstate.go
  core/state_processor.go
Owners: @trianglesphere, @celo-org/blockchain

lint
  consensus/istanbul/backend/backend_test.go
  consensus/istanbul/backend/engine_test.go
  consensus/istanbul/core/commit_test.go
  consensus/istanbul/core/core_test.go
  consensus/istanbul/core/roundstate.go
  consensus/istanbul/core/roundstate_save_decorator.go
  consensus/istanbul/core/testbackend_test.go
  miner/worker_test.go
Owners: @trianglesphere, @celo-org/blockchain

Adds flag to limit pending txs
  cmd/mycelo/main.go
  mycelo/loadbot/bot.go
Owners: @celo-org/blockchain

Fix panic in 'ConvertToGold()'
  contract_comm/currency/currency.go
  contract_comm/errors/errors.go
Owners: @celo-org/blockchain

Update version to 1.1.4-stable
  params/version.go
Owners: @celo-org/blockchain

Fix panic in 'ConvertToGold()'
  contract_comm/currency/currency.go
  contract_comm/errors/errors.go
Owners: @celo-org/blockchain

Update version to 1.2.4-stable
  params/version.go
Owners: @celo-org/blockchain

Return revert reason on eth_call
  internal/ethapi/api.go
Owners: @celo-org/blockchain

get revert reason when using simulated backend
  accounts/abi/bind/backends/simulated.go
Owners: @celo-org/blockchain

mycelo: Adds ability to specify sender on EVMBackends
  mycelo/contract/evm_backend.go
Owners: @celo-org/blockchain

myceo: Adds validator groups to genesis information
  cmd/mycelo/env_commands.go
  cmd/mycelo/main.go
  cmd/mycelo/templates.go
  mycelo/cluster/cluster.go
  mycelo/env/accounts.go
  mycelo/env/environment.go
  mycelo/env/types.go
  mycelo/env/types_test.go
  mycelo/genesis/genesis.go
  mycelo/genesis/genesis_state.go
Owners: @celo-org/blockchain

mycelo: Fixed LockedGold & Account addresses
  mycelo/env/core_contracts.go
  mycelo/env/core_contracts_test.go
Owners: @celo-org/blockchain

mycelo: Elect validators on genesis init
  mycelo/contract/evm_backend.go
  mycelo/env/accounts.go
  mycelo/env/types.go
  mycelo/genesis/base_config.go
  mycelo/genesis/config.go
  mycelo/genesis/genesis_state.go
Owners: @celo-org/blockchain

mycelo: Moves genesis commands to their own file
  cmd/mycelo/genesis_commands.go
  cmd/mycelo/main.go
Owners: @celo-org/blockchain

Adds Token type to pretty print token values
  common/token/token.go
  common/token/token_test.go
Owners: @celo-org/blockchain

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# default owners, overridden by package specific owners below
* @celo-org/blockchain

/consensus/ @trianglesphere @celo-org/blockchain
/crypto/ @kobigurk
/ethstats/ @gastonponti @celo-org/blockchain
/les/ @hbandura @nategraf @celo-org/blockchain
/light/ @hbandura @nategraf @celo-org/blockchain
/metrics/ @gastonponti @celo-org/blockchain
/p2p/ @oneeman @celo-org/blockchain
