Repository celo-org/celo-blockchain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asaj, @timmoreton, @kobigurk, @kevjue, @mcortesi, @tkporter, @diminator

review changes
  cmd/clef/main.go
  cmd/geth/chaincmd.go
  cmd/utils/flags.go
  core/genesis_test.go
  mobile/geth.go
  mobile/params.go
  params/config.go
Owners: @kevjue, @asaj, @timmoreton

fixes
  cmd/devp2p/discv4cmd.go
  cmd/utils/flags.go
Owners: @kevjue

why is it running out of memory
  .circleci/config.yml
Owners: @asaj, @timmoreton

lint
  cmd/devp2p/discv4cmd.go
  cmd/utils/flags.go
Owners: @kevjue

Removing flags and data related to Ethereum testnets (#1024)
  .circleci/config.yml
  cmd/clef/main.go
  cmd/devp2p/discv4cmd.go
  cmd/devp2p/nodesetcmd.go
  cmd/geth/chaincmd.go
  cmd/geth/consolecmd.go
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  consensus/istanbul/backend/engine_test.go
  core/genesis.go
  core/genesis_alloc.go
  core/genesis_test.go
  mobile/geth.go
  mobile/params.go
  params/bootnodes.go
  params/config.go
Owners: @asaj, @timmoreton, @kevjue, @tkporter

fixes
  cmd/utils/flags.go
Owners: @kevjue

added push notif for setting gwfee or etherbase and implememnted cache
  internal/web3ext/web3ext.go
  les/api.go
  les/client_handler.go
  les/odr_requests.go
  les/peer.go
  les/server_handler.go
Owners: @asaj, @timmoreton, @kevjue

fixes
  cmd/geth/chaincmd.go
  les/client.go
Owners: @kevjue

more refactoring changes
  consensus/istanbul/backend.go
  consensus/istanbul/backend/announce.go
  consensus/istanbul/backend/backend.go
  consensus/istanbul/backend/engine.go
  consensus/istanbul/backend/gossip_cache.go
  consensus/istanbul/backend/handler.go
  consensus/istanbul/backend/message_senders.go
  consensus/istanbul/core/core.go
  consensus/istanbul/errors.go
  consensus/istanbul/protocol.go
  consensus/istanbul/proxy/forward_message.go
  consensus/istanbul/proxy/proxy.go
  consensus/istanbul/proxy/types.go
Owners: @kevjue, @mcortesi, @tkporter

moved handleForwardMessage into the proxy subpackage
  consensus/istanbul/backend/handler.go
  consensus/istanbul/proxy/forward_message.go
  consensus/istanbul/proxy/proxy.go
Owners: @tkporter, @kevjue, @mcortesi

add metrics for total validators, blocks proposed; log msg for missed signature
  consensus/istanbul/backend/backend.go
  consensus/istanbul/backend/handler.go
Owners: @tkporter

initial implementation
  core/tx_pool.go
  eth/api_backend.go
  internal/ethapi/api.go
  internal/ethapi/backend.go
  internal/web3ext/web3ext.go
  les/api_backend.go
  params/config.go
Owners: @kevjue, @tkporter, @asaj, @timmoreton

working so far
  core/tx_pool.go
Owners: @kevjue

saving the addresses
  core/tx_journal.go
  core/tx_pool.go
Owners: @kevjue

format
  core/tx_journal.go
  core/tx_pool.go
Owners: @kevjue

added checking which tx it is
  contract_comm/sorted_oracles/sorted_oracles.go
  core/tx_pool.go
  eth/backend.go
Owners: @kevjue, @tkporter

moved proxy consensus message handling into proxy package
  consensus/istanbul/backend.go
  consensus/istanbul/backend/backend.go
  consensus/istanbul/backend/handler.go
  consensus/istanbul/proxy/consensus_message.go
  consensus/istanbul/proxy/types.go
Owners: @kevjue, @mcortesi, @tkporter

First pass with some remaining TODOs
  core/headerchain.go
  les/client.go
  les/client_handler.go
  les/odr.go
  les/odr_requests.go
  light/odr.go
  light/odr_test.go
  light/odr_util.go
Owners: @kevjue

seems to work
  contract_comm/sorted_oracles/sorted_oracles.go
  core/tx_list.go
  core/tx_pool.go
Owners: @kevjue

fixing tests
  contract_comm/sorted_oracles/sorted_oracles.go
  core/tx_pool.go
Owners: @kevjue

this needed some changes
  core/tx_pool.go
  miner/worker.go
Owners: @kevjue

cleanup
  core/tx_pool.go
Owners: @kevjue

fixed
  core/tx_pool.go
Owners: @kevjue

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# default owners, overridden by package specific owners below
* @asaj @timmoreton

/accounts/ @kobigurk
/cmd/ @kevjue
/consensus/ @kevjue @mcortesi
/consensus/istanbul/backend/ @tkporter
/contract_comm/ @kevjue
/core/ @kevjue
/crypto/ @kobigurk
/eth/ @kevjue @tkporter
/ethstats/ @diminator
/les/ @kevjue
/light/ @kevjue
/logging/ @timmoreton
/metrics/ @timmoreton
/miner/ @kevjue
/node/ @kevjue
/p2p/ @kevjue
