Repository celo-org/celo-blockchain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asaj, @timmoreton, @kobigurk, @kevjue, @mcortesi, @trianglesphere, @tkporter, @diminator

fix
  params/config.go
Owners: @asaj, @timmoreton

cached val conn set based on block now
  consensus/istanbul/backend/backend.go
Owners: @tkporter

gofmt, clean a lil
  les/serverpool.go
  mobile/geth.go
Owners: @kevjue, @asaj, @timmoreton

Fix tests
  accounts/abi/bind/backends/simulated_test.go
Owners: @kobigurk

Adds "get validator public keys" endpoint (#1130)
  consensus/istanbul/backend/api.go
  consensus/istanbul/validator.go
  crypto/bls/bls.go
  internal/web3ext/web3ext.go
Owners: @tkporter, @kevjue, @mcortesi, @trianglesphere, @kobigurk, @asaj, @timmoreton

Add personal_decrypt to the RPC interface
  internal/ethapi/api.go
  internal/jsre/deps/web3.js
  internal/web3ext/web3ext.go
Owners: @asaj, @timmoreton

Fixing dev mode (#1074)
  accounts/abi/bind/backends/simulated.go
  accounts/abi/bind/backends/simulated_test.go
  cmd/evm/runner.go
  cmd/utils/flags.go
  consensus/istanbul/backend/snapshot_test.go
  consensus/istanbul/backend/test_utils.go
  consensus/istanbul/core/roundstate.go
  core/bench_test.go
  core/block_validator_test.go
  core/blockchain_test.go
  core/genesis.go
  core/genesis_alloc.go
  core/genesis_extradata.go
  core/genesis_test.go
  core/rawdb/accessors_chain_test.go
  core/types/receipt_test.go
  core/vm/gas_table_test.go
  core/vm/instructions_test.go
  core/vm/logger_test.go
  eth/downloader/testchain_test.go
  eth/fetcher/fetcher_test.go
  eth/filters/filter_system_test.go
  eth/filters/filter_test.go
  eth/helper_test.go
  eth/tracers/tracer_test.go
  les/handler_test.go
  les/test_helper.go
  light/lightchain_test.go
  light/odr_test.go
  light/trie_test.go
  light/txpool_test.go
  miner/worker_test.go
  params/config.go
  params/config_test.go
Owners: @kobigurk, @kevjue, @mcortesi, @tkporter, @trianglesphere, @asaj, @timmoreton

Fix imports cycle
  consensus/consensustest/mockprotocol.go
  consensus/istanbul/core/roundstate.go
  consensus/istanbul/types.go
  miner/worker.go
Owners: @kevjue, @mcortesi, @trianglesphere

Fix unit tests
  consensus/consensustest/mockprotocol.go
  miner/worker_test.go
Owners: @kevjue, @mcortesi, @trianglesphere

Update packages and use go 1.13.15 to prevent android crash
  go.mod
  go.sum
Owners: @asaj, @timmoreton

Revert "Separate Etherbase flag by responsibility (#807)"
  cmd/geth/main.go
  cmd/geth/usage.go
  cmd/utils/flags.go
  consensus/istanbul/backend/backend.go
  consensus/istanbul/backend/engine.go
  console/console_test.go
  contract_comm/blockchain_parameters/blockchain_parameters.go
  core/state_processor.go
  core/vm/context.go
  eth/api.go
  eth/backend.go
  eth/config.go
  ethstats/ethstats.go
  les/server.go
  miner/miner.go
  miner/worker.go
  miner/worker_test.go
Owners: @kevjue, @mcortesi, @tkporter, @asaj, @timmoreton, @diminator

will send istanbul message to self even when there are errors when sending to peers
  consensus/istanbul/backend/handler.go
  consensus/istanbul/backend/message_senders.go
  consensus/istanbul/backend/peer_handler.go
Owners: @tkporter

Add Update and Delete methods to personal ns in RPC API
  internal/ethapi/api.go
Owners: @asaj, @timmoreton

Fixing proof broadcasting, still need complement logic
  eth/handler.go
  eth/peer.go
  eth/protocol.go
  eth/sync.go
Owners: @kevjue, @tkporter

Clean up
  consensus/istanbul/backend/test_utils.go
  consensus/istanbul/types.go
  miner/worker.go
Owners: @tkporter, @kevjue, @mcortesi, @trianglesphere

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# default owners, overridden by package specific owners below
* @asaj @timmoreton

/accounts/ @kobigurk
/cmd/ @kevjue @mcortesi
/consensus/ @kevjue @mcortesi @trianglesphere
/consensus/istanbul/backend/ @tkporter
/contract_comm/ @kevjue
/core/ @kevjue
/crypto/ @kobigurk
/eth/ @kevjue @tkporter
/ethstats/ @diminator
/les/ @kevjue
/light/ @kevjue
/logging/ @timmoreton @mcortesi
/metrics/ @timmoreton
/miner/ @kevjue
/node/ @kevjue
/p2p/ @kevjue
